[workspace]
members = [
    "crates/chronicle-core",
    "crates/chronicle-archive",
    "crates/chronicle-bus",
    "crates/chronicle-cli",
    "crates/chronicle-etl",
    "crates/chronicle-feed-binance",
    "crates/chronicle-protocol",
    "crates/chronicle-replay",
]
resolver = "2"
